body {
  background-color: #2d2d2d;
  margin: 0;
  padding: 0;
  color: lightgrey;
  text-align: center;
}

h4 {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  text-align: center;
  font-size: clamp(12px, 2vw, 16px);
  word-wrap: break-word;
  white-space: normal;
}

#media-type-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 2px solid lightpink;
}

#media-type-container img {
  width: 100%;
  height: auto;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#media-type-container img.selected {
  opacity: 1;
}

#media-type-icons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.media-type-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#type-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#type-next-button {
  background: transparent;
  border: none;
  margin-right: 40px;
  margin-left: auto;
}

#type-next-button-image {
  width: 80px !important;
  height: auto !important;
}

#genre-preview {
  text-align: center;
  border-bottom: 2px solid lightpink;
}

#genre-container {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid lightpink;
}

#genre-container img {
  width: 100%;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#genre-container img.selected {
  opacity: 1;
}

#genre-icons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.genre-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#genre-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#genre-next-button {
  background: transparent;
  border: none;
  margin-right: 40px;
  margin-left: auto;
}

#genre-next-button-image {
  width: 80px !important;
  height: auto !important;
}

#genre-back-button {
  background: transparent;
  border: none;
  margin-left: 40px;
}

#genre-back-button-image {
  width: 80px !important;
  height: auto !important;
  opacity: 1 !important;
}

#source-preview {
  text-align: center;
  border-bottom: 2px solid lightpink;
}

#source-container {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid lightpink;
}

#source-container img {
  width: 100%;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#source-container img.selected {
  opacity: 1;
}

#source-icons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.source-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#source-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#source-next-button {
  background: transparent;
  border: none;
  margin-right: 40px;
  margin-left: auto;
}

#source-next-button-image {
  width: 80px !important;
  height: auto !important;
}

#source-back-button {
  background: transparent;
  margin-left: 40px;
  border: none;
}

#source-back-button-image {
  width: 80px !important;
  height: auto !important;
  opacity: 1 !important;
}

#results-container {
  display: none;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid lightpink;
}

#result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid lightpink;
}

#display-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

#display-title {
  font-size: clamp(24px, 10vw, 44px);
  color: white;
  margin-bottom: 5px;
}

#display-details-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#display-quick-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  padding: 10px 20px;
  align-items: center;
  border: 0.5px solid lightpink;
  padding-bottom: 10px;
}

#display-poster-container {
  display: flex;
  width: 100%;
}

#display-poster {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid lightpink;
  padding-bottom: 10px;
}

#display-year-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

#display-release-date {
  font-size: 1em;
  color: white;
  width: 45%;
  margin-left: auto;
}

#display-hyphen {
  font-size: 1em;
  color: white;
  width: 10%;
  text-align: center;
}

#display-finale {
  font-size: 1em;
  color: white;
  width: 45%;
  margin-right: auto;
}

#display-source-season-count {
  font-size: 1em;
  color: white;
  text-align: center;
  margin-top: 10px;
}

#display-source-episode-count {
  font-size: 1em;
  color: white;
  text-align: center;
  margin-top: 10px;
}

#display-genre-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  align-items: flex-start;
}

.display-genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-genre img {
  width: 30px;
  height: auto;
}

.display-genre-text {
  font-size: 0.5em;
  color: white;
  margin: 1px;
}

#display-description-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  align-items: center;
  padding: 10px 20px;
}


#display-content-info {
  display: flex;
  font-size: 1em;
  width: 60%;
  color: white;
  justify-content: space-evenly;
}

#display-type {
  font-size: 1em;
  color: white;
  text-align: center;

#display-title {
  font-size: clamp(24px, 10vw, 44px);
  color: lightgrey;
  margin-bottom: 5px;
}

#display-plot {
  font-size: 12dv;
  color: lightgrey;
}

#display-runtime {
  font-size: 1em;
  color: white;
  text-align: center;
}

#display-rating {
  font-size: 1em;
  color: white;
  text-align: center;
}

#display-plot {
  font-size: 1em;
  color: white;
  margin-top: 10px;
  color: lightgrey;
  max-width: 400px;
  margin-right: 40px;
}

#display-rating-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

#display-user-rating {
  font-size: 1em;
  color: white;
  text-align: center;
}

#display-critic-score {
  font-size: 1em;
  color: white;
  text-align: center;
}

#display-external-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

#display-source-info {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
}

.display-source {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
}

.display-source-link {
  display: flex;
}

.display-source-icon {
  width: 30px;
  height: 30px;
}

.display-source-type {
  font-size: 0.5em;
  color: white;
  text-align: center;
}

.display-source-price {
  font-size: 0.5em;
  color: white;
  text-align: center;
}

#display-trailer-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 10px 20px;
}

#display-trailer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 30px;
  display: flex;
}

#display-trailer-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
}

#trailer-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#results-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#results-next-button {
  background: transparent;
  border: none;
}

#results-next-button-image {
  width: 80px !important;
  height: auto !important;
}

#results-prev-button {
  background: transparent;
  border: none;
}

#results-prev-button-image {
  width: 80px !important;
  height: auto !important;
  opacity: 0.3;
}

#more-results-container {
  display: flex;
  flex-direction: column;
}

.more-results-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 5px;
}

.more-results-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.more-results-box {
  display: flex;
  /* height: 10px; */
  width: 19%;
  align-items: center;
  justify-content: center;
  /* margin: 10px;
  padding: 10px; */
  border: 1px solid lightpink;
}

#more-results-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid white;
  padding: 10px;
}

#more-results-button-image {
  max-width: 200px;
}

#more-results-button {
  background: transparent;
  border: none;
}

.icon-container {
  display: flex;
  max-width: 100px;
  min-width: 20px;
  flex-direction: column;
  /* flex: 1; */
  align-items: center;
  text-align: center;
  margin: 10px 5px;
  padding: 0px;
}
