body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: white;
}

#streaming_services_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid grey;
  width: 60%;
  margin: auto;
}

#streaming_services_box img {
  width: 40px;
  height: 40px;
  margin: 15px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

#streaming_services_box img.selected {
  opacity: 1;
}

#major_streaming_services {
  display: flex;
  justify-content: center;
}

#more_streaming_services {
  display: flex;
  justify-content: center;
}

#tv_and_rental_services {
  display: flex;
  justify-content: center;
}

#tv_and_rental_services img {
  width: 35px;
  height: 35px;
  margin: 10px;
}
